/* PaginatedTable.css */

/* Ajustes para la tabla paginada */
.table-wrapper {
  position: relative;
  top: 25%;
  width: 80%;
  height: auto;
  overflow: hidden;
  display: block;
  padding-top: 1%;
}

.table-container {
  display: flex;
  overflow-x: auto;
  height: auto;
  white-space: nowrap;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 1000px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead th {
  background-color: rgb(229, 229, 229);
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

th {
  background-color: #f7f7f7;
  font-size: 24px;
}

td:first-child, th:first-child {
  position: sticky;
  left: 0;
  background-color: rgb(229, 229, 229);
  z-index: 2;
}

.red {
  background-color: rgba(255, 0, 0, 0.700);
}

.orange {
  background-color: rgba(255, 166, 0, 0.700);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.700);
}

.blue {
  background-color: rgba(0, 0, 255, 0.700);
}

.green {
  background-color: rgba(0, 128, 0, 0.700);
}

.grey {
  background-color: rgba(128, 128, 128, 0.700);
}

/* Estilos para los Controles de Paginación */
.carousel-controls {
  z-index: 0;
  top: -5px;
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.carousel-button {
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 0 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.carousel-button:active {
  background-color: #004085;
  transform: scale(0.95);
}

.carousel-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.pagination-info {
  margin: 0 10px;
}
